.board {
    width: 90%;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    box-shadow: 0 0 3px 3px #DEDEDE;
    padding: 0.5rem;
    margin: 1rem auto;
    height: 80vh;
}
.timer {
    font-size: 2rem;
}